includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
  level: 7
  paths:
    - app
    - tests

  checkMissingTypehints: false
  treatPhpDocTypesAsCertain: false
  reportUnmatchedIgnoredErrors: true

  ignoreErrors:
    - identifier: missingType.generics
    - identifier: missingType.iterableValue
    - identifier: assign.propertyType
    - identifier: property.notFound
      paths:
        - app/Http/Resources/*

    - message: '#should return array<string,\s*mixed> but returns array\|Illuminate\\Contracts\\Support\\Arrayable\|JsonSerializable#'
      paths:
        - app/Http/Resources/*
    - message: '#Cannot call method expectsOutput.*#'
      paths:
        - tests/Feature/*

